<form class="edit-form">
  <label class="label">
    <span>Name:</span>
    <input type="text" name="user" id="user">
  </label>
  <label class="label">
    <span>Username:</span>
    <input type="text" name="username" id="username">
  </label>
  <label class="label">
    <span>Phone Number:</span>
    <input type="password" name="phone_number" id="phone-number">
  </label>
  <div class="button-group">
    <button type="button" class="button" (click)="cancel()">Cancel</button>
    <button class="button">Submit</button>
  </div>
</form>
