:host {
  font-weight: 500;
  font-size: 18px;
  color: white;
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    img {
      width: 88px;
      height: 88px;
      margin: 0 auto;
      display: block;
    }
  }
}

h1 {
  text-align: center;
}
