<h2>Account recovery</h2>
<p class="subtitle">
  Account doesn’t exist? <a routerLink="../sign-up">Register here</a>
</p>
<form>
  <label class="label">
    <span>New Password</span>
    <input type="text" name="username" id="username" placeholder="Create a password">
  </label>
  <label class="label">
    <span>Confirm Password</span>
    <input type="text" name="username" id="username" placeholder="Enter your password again">
  </label>
  <div class="button-group">
    <button class="button">Confirm</button>
  </div>
</form>
