:host {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.edit-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  font-size: 28px;
  > span {
    min-width: 350px;
    display: inline-block;
  }
  > input {
    flex-grow: 1;
  }
}

.button-group {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 34px;
  text-decoration: underline;

  border: none;

  color: white;
  background-color: #72B3D8;

  cursor: pointer;

  &:hover {
    background-color: #629bbb;
  }
}
