@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

// @import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family: 'Poppins', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.ng-select {
  min-width: 120px;
  & .ng-select-container  {
    color: white !important;
  }
  & .ng-arrow-wrapper .ng-arrow  {
    color: white !important;
  }
}

input {
  padding: 5px;
  font-size: 28px;
  border: 1px solid #000000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
  background-color: #525252;
}

.error {
  font-size: 14px;
  color: #ff3030;
}

.ng-select-container {
  top: -7px;
}

.ng-value-container {
  position: relative;
  border: none !important;
  top: 17px;
}

.mat-dialog-content {
  overflow: hidden !important;
}

.ng-select {
  padding: 0;
}
